<aside>
  <p class="intro">{{ site.data.translations[page.lang].homepage-tag-line }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav">
    <ul>
      {% for navPage in site.menu %}
        {% for item in navPage.menuItems %}
          {% for sitePage in site[page.lang] %}
            {% if sitePage.title == item.menuItem or  sitePage.trans_url == item.menuItem %}
              <li {% if sitePage.url == page.url %}class="sidebar-nav-active"{% endif %}>
                <a href="{{ site.baseurl }}{{ sitePage.url }}">{{ sitePage.title }}</a>
                {% if sitePage.childPages %}
                  {% include submenu.html %}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </ul>
  </nav>
</aside>