---
---

/*
main.scss
==================================
*/

/*
Variables
==================================
*/

$brandColor: #ffcc3d;
$focusColor: mediumseagreen;
$lightGrey: #6f6f6f;
$darkGrey: #424242;
$blue: #0068bc;
$darkBlue: #005295;

/*
Normalize the box model
==================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
global styles
==================================
*/

html,
body {
  height: 100%;
}

/*
Typography
==================================
*/

body {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

h1,
h3,
h4,
h5,
strong {
  font-family: "Avenir Next Demi", "Avenir Next", Arial, sans-serif;
  font-weight: 600;
}

.site-title {
  font-size: 1.33em;
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: normal;
  color: $lightGrey;
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 1.2941176470588236;
}

h1 {
  font-size: 2.027em;
}

h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  margin: 1em 0 0 0;
}

h3,
h4,
h5 {
  margin-bottom: 0.85em;
  font-weight: 500;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
  font-variant: small-caps;
  font-weight: 600;
  color: $darkGrey;
}

.page-title {
  margin-top: 0.4em; /* 16/32 - .1 (pad it out a bit) */
}

.float-right {
  font-size: 1em;
  margin: 0;
}

blockquote {
  color: $darkGrey;
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.05em;
  font-style: italic;
  margin-left: 1.65em;
}

/*
Lists
--------------------------------
*/

ul,
ol {
  margin-top: 1em;
  margin-bottom: 1em;

  li {
    > ul,
    ol {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  &.strong {
    font-weight: 600;

    p {
      font-weight: normal;
    }
  }

  &.task-list {
    padding-left: 0em;
    display: flex;
    flex-direction: column;

    $checkboxSize: 20px;

    .task-list-item {
      display: inline-block;
      position: relative;
      margin-left: $checkboxSize;
      margin-bottom: 20px;
      padding: 0px 15px;

      .task-list-item-checkbox {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -$checkboxSize;
        width: $checkboxSize;
        height: $checkboxSize;
        margin: 0;
        opacity: 0;
      }

      &:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 2px;
        left: -$checkboxSize;
        width: $checkboxSize;
        height: $checkboxSize;
        border: 2px solid currentColor;
        border-radius: 2px;
        background: transparent;
      }
    }
  }
}

.main-content {
  ul,
  ol {
    padding-left: 1.1em;
  }

  li {
    margin-bottom: 0.5em;
  }
}

li h3,
li h4 {
  margin: 0;
}

li p {
  margin-top: 0;
}

/*
Links
==================================
*/

a,
a:link,
a:visited {
  color: $blue;
  border-bottom: 1px dotted $blue;
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 1px solid $darkBlue;
  color: $darkBlue;
  text-decoration: none;
}

a:focus {
  outline: 2px solid $focusColor;
  outline-offset: 3px;
  color: black;
  text-decoration: none;
}

a.title-link {
  color: $lightGrey;
  border-bottom: none;

  &:hover,
  &:active,
  &:focus {
    color: #424242;
  }
}

a.skip-link {
  border-bottom: none;
  padding: 0.25em;
}

a.skip-link:hover,
a.skip-link:active,
a.skip-link:focus {
  background-color: $focusColor;
  color: #fff;
  border-bottom: none;
}

/*
Navigation
==================================
*/

.sidebar-nav {
  margin-left: -4px;
}
.sidebar-nav a {
  display: block;
  padding: 0.5em;
  padding-left: 0;
  border-left: 4px solid transparent;
}
.sidebar-nav a,
.sidebar-nav a:link,
.sidebar-nav a:visited {
  color: $lightGrey;
  border-bottom: none;
}

.sidebar-nav > ul > li a:hover,
.sidebar-nav > ul > li a:focus,
.sidebar-nav > ul > li a:active,
.sidebar-nav > ul .sidebar-nav-active > a {
  color: $darkGrey;
  border-left: 4px solid $brandColor;
  background-color: transparent;
  padding-left: 6px;
}

.sidebar-nav li:hover,
.sidebar-nav li:active,
.sidebar-nav .sidebar-nav-active {
  padding-left: 0;
}

.sidebar-nav li:hover a:focus,
.sidebar-nav li:active a:focus {
  border-left: none;
}
.sidebar-nav ul {
  margin: 0;
  padding: 0;
}
.sidebar-nav li,
.sidebar-nav li ul li {
  list-style: none;
  border-bottom: 1px solid #babbbd;
}
.sidebar-nav li:first-child {
  border-top: 1px solid #babbbd;
}
.sidebar-nav ul ul li:last-child {
  border-bottom: none;
}

.sidebar-nav > ul .sub-link {
  a {
    padding-left: 30px;
    font-size: 1em;
  }

  &.sidebar-nav-active,
  &:hover,
  &:focus,
  &:active {
    > a {
      padding-left: 26px;
    }
  }
}

/*
Layout
==================================
*/

.logo {
  display: block;
}

.content {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* offset the fixed position header for jump links */
section:before {
  display: block;
  content: "";
  height: 60px;
  margin: -60px 0 0;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  width: 100%;
  border-bottom: 4px solid $brandColor;
  background-color: #fff;
  padding: 2em 0;
}

img {
  max-width: 100%;
  margin: 1em 0;
}

/*
Footer
==================================
*/

/* for sticky footer */
.container {
  display: table;
  height: 100%;
  width: 100%;
}

footer {
  display: table-row; /* for sticky footer */
  height: 1px; /* for sticky footer */
  border-top: 2px solid #babbbd;
  background: #f1f2f2;
  width: 100%;
  font-size: 0.875em;
}

footer .wrap {
  padding-top: 2em;
  padding-bottom: 2em;
}

/*
Helpers
==================================
*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/*
Style
==================================
*/

.intro {
  color: $lightGrey;
  display: none;
}

li h4 {
  margin: 0;
}

.license {
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

pre {
  max-width: 100%;
  font-size: 0.875em;
  overflow-y: scroll;
  background-color: #f1f2f2;
  padding: 10px;
}

table {
  font-size: 0.8em;
}

td,
th {
  border: 1px solid $lightGrey;
  padding: 0.5em;

  ul,
  ol {
    margin: 0;
    margin-left: 0.25em;
  }
}

td {
  width: 50%;
  vertical-align: baseline;
}
/*
Post list
----------------------------------
*/

ul.posts {
  padding: 0;
}

.posts li {
  list-style: none;
}

.post-date {
  color: #75787b;
}

/*
Repo list
----------------------------------
*/

ul.repo-list {
  margin: 0.5em 0 1em 0;
  padding: 0;
  display: flex;
}

.repo-list li {
  list-style: none;
  display: block;
  float: left;
  background-color: #e7e7e6;
  border-left: 1px solid #babbbd;
  width: 80%;
  max-width: 240px;

  &:first-child {
    text-align: center;
    border-left: none;
    line-height: 60px;
    padding: 0.625em 1em;
    padding-bottom: 0;
    width: 20%;
    max-width: 70px;
  }
}

.repo-list a {
  &:link,
  &:visited {
    display: block;
    background-color: #e7e7e6;
    border-bottom: none;
    padding: 0.625em 1em 1em 1em;
  }

  &:hover {
    color: #4d5f87;
    background-color: #cde3f1;
  }
}

.repo-list p {
  margin: 0;
  font-size: 0.875em;
}

.repo-list h4 {
  text-transform: none;
}

/*
Clearfix list
----------------------------------
*/

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  *zoom: 1;
}

/*
Desktop Styles
==================================
*/

@media screen and (min-width: 45em) {
  /*
    Typography
    ==============================
    */

  /*
    Layout
    ==============================
    */

  .site-title {
    font-size: 1.625em;
    line-height: 1.2941176470588236;
    display: inline-block;
    margin-bottom: 0;
    width: 70%;
  }

  .float-right {
    font-size: 1.375em;
    display: inline-block;
    width: 25%;
    text-align: right;
  }

  .logo {
    max-width: 30%;
    padding-right: 20px;
    float: right;
  }

  aside {
    width: 30%;
    float: left;
    margin-bottom: 5%;

    .intro {
      display: block;
    }
  }

  .sidebar-nav a {
    font-size: 1.1em;
  }

  .sidebar-nav li:first-child {
    border-top: none;
  }

  .main-content {
    width: 67%;
    float: right;
    margin-bottom: 120px;
  }

  table {
    font-size: 1em;
  }

  .repo-list li {
    width: 35%;

    &:first-child {
      width: 10%;
    }
  }
}

/*
Mobile Styles
==================================
*/

@media screen and (max-width: 40.5em) {
  .main-content {
    margin-top: 1.5em;
  }
}
